html {
	max-width: 800px;
	margin: 0 auto;
	width: 90%;
	position: relative;
}

body {
	background-color: #FFFDF6;
	color: #2F0102;
	font-family: "Gowun Batang";
	font-size: 28px;
	line-height: 200%;
}

h1 {
	text-align: center;
	font-family: "Song Myung";
}

h2 {
	text-align: center;
	font-family: "IM Fell English SC";
}

h3 {
	text-align: center;
	font-family: "Song Myung";
}

hr {
	border : solid 1px #2F0102;
}

a {
	color: #8F3838;
	font-weight: bold;
	text-decoration: none;
}

small {
	font-family: "Cormorant Garamond";
}

sup {
	font-family: "Cormorant Garamond";
}

img {
	text-align: center;
	width: 50%;
	margin-top: 20px;
	margin-bottom: 2px;
}

.note {
	font-size: 20px;
	line-height: 180%;
}

div.note p {
	margin-block-end: -10px;
}

.footer {
	font-size: 14px;
	line-height: 100%;
	text-align: right;
}

header { position: sticky; text-align: right; margin-right: -50px; bottom: 15px; font-size: 20pt; }
@media (max-width: 770px) {
	header { position: sticky; text-align: right; margin-right: 0px; bottom: 15px; font-size: 20pt; }
}

.visitor-counter {
	font-size: 6px;
	text-align: center;
}